body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 1.3em;
    padding: 0;
    display: flex;
    flex-direction: column;
}


a {
    all: initial;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

.body_admin {
    overflow: auto;
    border: 1px solid #222;
    padding: 0.8em;
    border-radius: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #222;
}

tr:nth-child(even) {
    background-color: #333;
}

tr:hover {
    background-color: #444;
}

.base_admin_urls {
    display: flex;
    flex-direction: row;
}

.base_admin_urls>h3 {
    padding: 0.5em;
    margin-right: 0.5em;
    border: 1px solid #222;
    border-radius: 2em;
}

.base_admin_urls>h3:hover {
    background: #444;
}

input[type='button'] {
    background: #631b1b;
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

input[type='button']:hover {
    background: #222;
}

a {
    font-size: 1.3em;
}



/* Стилизация списка ul */
ul {
    list-style: disc;
    /* Убираем маркеры списка */
    padding: 0;
    /* Убираем внутренний отступ у списка */
    margin: 0;
    /* Убираем внешний отступ у списка */
    padding-left: 2em;

}

/* Стилизация элементов списка li */
li {
    margin-bottom: 10px;
    /* Добавляем отступ между элементами списка */
}

/* Стилизация ссылок внутри элементов списка */
li a {
    text-decoration: none;
    /* Убираем подчеркивание у ссылок */
    color: #d3d3d3;
    /* Задаем цвет текста для ссылок */
    font-weight: bold;
    /* Делаем текст жирным */
    font-family: Arial, sans-serif;
    /* Задаем шрифт */
}

/* Стилизация ссылок при наведении */
li a:hover {
    color: #d3d3d383;
    /* Изменяем цвет текста при наведении */
}